.belay{
    width: 13%;
    display: inline-block;
    border-right: 2px solid dodgerblue;
    height: 505px;
    margin-top: -17px;
}
.ino{
    margin-left: 12px;
}
.ina{
    margin-left: 30px;
}
.mb{
    margin-bottom: -12px;
}
.beyene{
    width: 85%;
}
.fldsett{
    background-color: white;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 18px;
    height: 60px;
}
.imga{
    margin-top: -12px;
}